# MongoDB Atlas Connection String
MONGODB_URI=mongodb+srv://soumighoshblink_db_user:abcd1234@ats-system.x9ofdvu.mongodb.net/?appName=ats-system

# NextAuth Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=KQ6MPplcuSaePpX02qkB4J8D4OKP6yHdUfKClgIoPFk=

# Groq API Key (Free - get from https://console.groq.com)
GROQ_API_KEY=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

# Vercel Blob Storage Token
BLOB_READ_WRITE_TOKEN=vercel_blob_rw_your_token_here
