# MongoDB Atlas Connection String
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/database_name?appName=app_name

# NextAuth Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_nextauth_secret_here

# Groq API Key (Free - get from https://console.groq.com)
GROQ_API_KEY=your_groq_api_key_here

# Vercel Blob Storage Token
BLOB_READ_WRITE_TOKEN=vercel_blob_rw_your_token_here
